<div class="well">
  <h1>Welcome!</h1>
  <p>We are a community of people concerned about diverse topics.</p>
  <p>Your opinion matters to us...</p>
  <p>That's why we want to hear what you have to say about them.</p>
  <p>Thank you, and enjoy your stay!</p>
</div>
