<hr>
<%= form_for @comment, url: topic_comments_path(@topic) do |f| %>

  <div>
  <%= f.label "Write your opinion" %> <br>
  <%= f.text_area :body %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end -%>
<br>
