<h2>Current Topics</h2>
    <% @topics.each do |topic| %>
      <div class="col-xs-12 col-md-4 list group well">
      <h4 class="list-group-item-heading "><%= link_to topic.title, topic_path(topic), class: "list-group-item active" %></h4>
      <p class="list-group-item-text lead"> <%= topic.body %> </p>
      </div>
    <% end -%>

