<h2>Current Topics</h2>
  <div class="listgroup well ">
    <% @topics.each do |topic| %>
      <div class="col-xs-12 col-md-4">
      <h4 class="list-group-item-heading "><%= link_to topic.title, topic_path(topic), class: "list-group-item active" %></h4>
      <p class="list-group-item-text"> <%= topic.body %> </p>
      <hr>
      </div>
    <% end -%>
  </div>

