<table class="table table-striped">
  <td><strong>ID</strong></td>
  <td><strong>E-MAIL</strong></td>
  <td><strong>LAST LOG IN</strong></td>
  <td><strong>ADMIN</strong></td>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= time_ago_in_words(user.last_sign_in_at) %> ago.</td>
      <td><%= user.admin.to_s.capitalize %></td>
    </tr>
  <% end -%>
</table>
